* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
}

/* Header / Nav styling */
header {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
}

header h1 {
    width: 25%;
    font-size: xx-large;
    font-weight: bold;
}

nav {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
}

nav a {
    cursor: pointer;
    text-decoration: none;
}

.subtitle h3 {
    color: #FF6200;
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.subtitle img {
    width: 100%;
    max-height: 400px;
    margin-bottom: 10px;
}

.content {
    display: flex;
    flex-direction: column;
}

.left {
    width: 28%;
    display: flex;
}

.left h1 {
    width: 100%;
    text-align: center;
}

.divider {
    width: 4%;
    border-left: 5px solid orange;
    margin-right: 5px;
    height: 100%;
}

.right {
    width: 68%;
    display: flex;
}

img {
    display: flex;
    width: 20%;
    height: auto;
    margin: 1%;
}

section {
    display: flex;
    margin-bottom: 20px;

}

#aboutMe {
    float: left;

}

#aboutMe img {
    float: left;
    margin: 0;
    margin-right: 1%;
}

/* format/style work items */
.workGrid {
    width: 100%;
    margin: 0px 1%;
    display: grid;
    grid-template-rows: 150px 150px 150px 150px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "mainApp mainApp"
        "mainApp mainApp"
        "app2 app3"
        "app4r app5"
    ;
}

.workGridArea {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 5px;
    cursor: pointer;
    display: grid;
    align-content: end;
}

#mainApp {
    grid-area: mainApp;
    background-image: url(../images/horiseon-home.png);
}

#app2 {
    background-image: url(../images/first-web-page.png);
}

#app3,
#app4,
#app5 {
    background-image: url(../images/coming-soon.png);
}

.heading {
    background-color: rgba(0, 0, 0, 45%);
    padding: 15px;
    height: 25px;
    color: white;
    font-size: 18px;
    border-bottom: 5px solid #FF6200;
}

p {
    margin: 5px;
}

.contactdetails {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Responsive control */
@media only screen and (max-width: 600px) {
    header h1{
        width: 100%;
        margin: 0px 0%;
        text-align: center;
    }
    nav{
      display: none;
    }
    .subtitle img{
        display: none;
    }
    section{
        flex-flow: column;
    }
    .contactdetails{
        flex-flow: column;
    }
    .left{
        width: 98%;
    }
    .left h1{
        margin: 0;
    }
    .divider{
        display:none;
    }
    .right{
        width: 98%;
    }
  }
  